@model TopLearn.DataLayer.Entities.User.User;

<div style="direction: rtl; padding: 20px">
    <h2>@Model.UserName عزیز !</h2>
    <p>لطفا جهت بازیابی کلمه عبور خود لینک زیر را کلیک کنید</p>
    <p>
        <a href="https://localhost:7042/Account/ResetPassword/@Model.ActiveCode">بازیابی کلمه عبور</a>
    </p>
</div>