@page "{id}"
@model TopLearn.Web.Pages.Admin.Courses.CreateEpisodeModel
@{
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">افزودن بخش جدید</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>


<div class="row">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="CourseEpisode.CourseId" />
        <div class="col-md-9">
            <h2>اطلاعات دوره</h2>
            <hr />
            <div class="form-group">
                <label>عنوان بخش</label>
                <input type="text" asp-for="CourseEpisode.EpisodeTitle" class="form-control">
                <span asp-validation-for="CourseEpisode.EpisodeTitle"></span>
            </div>
            <div class="form-group">
                <label>زمان بخش</label>
                <input type="text" asp-for="CourseEpisode.EpisodeTime" class="form-control">
                <span asp-validation-for="CourseEpisode.EpisodeTime"></span>
            </div>
            <div class="form-group">
                <label>فایل بخش</label>
                <input type="file" name="FileEpisode">
                <span class="alert-warning" asp-validation-for="CourseEpisode.EpisodeFileName"> فایل بخش اجباری است </span>

            </div>
            <div class="form-group">
                <label>
                    رایگان است
                </label>
                <input type="checkbox" asp-for="CourseEpisode.IsFree">
            </div>
            <div class="form-group">
                @if (ViewData["IsFileExist"] != null)
            {
                <span class="alert-danger">نام فایل معتبر نمیباشد</span>
            }
            </div>
            <input type="submit" value="ذخیره اطلاعات" class="btn btn-success" />
        </div>

    </form>
</div>
