@page "{handler?}"
@model TopLearn.Web.Pages.Admin.Discount.CreateDiscountModel
@{
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">افزودن کد تخفیف</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <form method="post">
        <div class="col-md-7">
            <h2>اطلاعات تخفیف</h2>
            <hr />
            <div class="form-group">
                <label>کد تخفیف</label>
                <input type="text" id="Discount_DiscountCode" asp-for="Discount.DiscountCode" class="form-control">
                <div id="alertCode" class="alert alert-danger" style="display:none">
                    <p class="text-muted">کد وارد شده معتبر نمی باشد</p>
                </div>
            </div>
            <div class="form-group">
                <label>درصد کد تخفیف</label>
                <input type="number" asp-for="Discount.DiscountPercent" class="form-control">
            </div>
            <div class="form-group">
                <label>تعداد مجاز برای استفاده کد</label>
                <input type="number" asp-for="Discount.UsableCount" class="form-control">
            </div>
            <div class="form-group">
                <label>تاریخ شروع</label>
                <input type="text" id="stDate" name="stDate" class="form-control">
            </div>
            <div class="form-group">
                <label>تاریخ پایان</label>
                <input type="text" id="enDate" name="enDate" class="form-control">
            </div>
            <br />
            <input type="submit" value="افزودن کد تخفیف" class="btn btn-success" />
        </div>
        <div asp-validation-summary="All"></div>
    </form>
</div>

@section Script{
    <script>
        $("#Discount_DiscountCode").blur(function(){

            $.ajax({
                type: "get",
                url: "/Admin/Discount/CreatDiscount/CheckCode?code=" + $("#Discount_DiscountCode").val()
            }).done(function(res){
                if(res==='True'){
                    $("#alertCode").show();
                }
                else{
                    $("#alertCode").hide();
                }
            });
        });
    </script>

    <link href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.default.min.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/js/kendo.all.min.js"></script>
    <script>
        $("#datepicker").kendoDatePicker();
    </script>

}