@model TopLearn.Core.DTOs.ForgotPasswordViewModel
@{
    ViewData["Title"] = "فراموشی کلمه عبور";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">فراموشی کلمه عبور</li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">

        <header><h2> فراموشی کلمه عبور</h2></header>

        <div class="form-layer">

            <form asp-action="ForgotPassword" method="post">

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" type="text" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>
                <br />

                <button class="btn btn-success"> ارسال ایمیل بازیابی کلمه عبور </button>

            </form>
        </div>

    </div>
</main>
