@model TopLearn.Core.DTOs.ResetPasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">تغییر کلمه عبور</li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">
        @if (ViewBag.IsSuccess != null)
        {
            <div class="alert alert-success">
                <p class="help-block">تغییر کلمه عبور با موفقیت انجام شد</p>
            </div>

        }
        <header><h2> تغییر کلمه عبور </h2></header>

        <div class="form-layer">

            <form asp-action="ResetPassword" method="post">
                <input type="hidden" asp-for="ActiveCode"/>

                 <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور " aria-describedby="password">
                </div>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار رمز عبور" aria-describedby="password">
                </div>

                <button class="btn btn-success"> ثبت کلمه عبور جدید </button>

            </form>
        </div>

    </div>
</main>